body {
  padding-top: 70px;
  font: 62.5% "Lucida Grande", Helvetica, Arial;
}
#react-view {
  margin: auto;
  text-align: center;
}
.borders {
  border: black 1px solid;
}
.beerlistitem {
  padding: 0;
  margin: 0;
  list-style: none; 
}
.beerlistitem :hover, .beerlistitem :active {
  background: dimgrey;
  color: white;
}
.beerlistitem li {
  padding: 5px;
}
.beerlistitem .thumbnail {
  margin-bottom: 0;
}

@media only screen and (min-width: 100px) {

   body { font-size: 3vw; }

}

@media only screen and (min-width: 600px) {

   body { font-size: 2em; }

}

@media only screen and (min-width: 900px) {

   body { font-size: 1.5em; }

}