body {
  padding-top: 70px;
  font: 62.5% "Lucida Grande", Helvetica, Arial;
  text-align: center;
  background: #f3f3f3;
}
#react-view {
  margin: auto;
}
.borders {
  border: rgb(221,221,221) 1px solid;
  background-color: #fff;
  border-radius: 4px;
}
.beerlistitem {
  padding: 0;
  margin: 0;
  list-style: none; 
}
.beerlistitem :hover, .beerlistitem :active {
  background: dimgrey;
  color: white;
}
.beerlistitem li {
  padding: 5px;
}
.beerlistitem .thumbnail {
  margin-bottom: 0;
}

@media only screen and (min-width: 100px) {
   body { 
     font-size: 2.3vw; 
   }
   .liHeight {
     height: 58vw;
   }
   .h4, h4 {
     font-size: 3vw;
   }
}

@media only screen and (min-width: 550px) {
   body { 
     font-size: 2.2vw; 
   }
   .liHeight {
     height: 58vw;
   }
}

@media only screen and (min-width: 768px) {
   body { 
      font-size: 1.2em; 
   }
   .liHeight {
     height: 300px;
   }
   .h4, h4{
     font-size: 2vw;
   }
}

@media only screen and (min-width: 1200px) {
   body { 
      font-size: 1.2em; 
   }
   .liHeight {
     height: 350px;
   }
}
